body {
  margin: 0%;
  padding: 0%;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 59%, rgba(190,190,190,1) 100%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
