.parent {
    border: 2px ;
}

.bar {
    height: 20px;
    padding: 5px;
    font-size: 20px;
    width: 150px;

}

.search {
    padding: 10px;
    font-size: 20px;
    font-weight: 70;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15%;
    color: rgb(255, 238, 83);
    background: rgb(108,104,245);
    background: radial-gradient(circle, rgb(69, 63, 245) 49%, rgba(42,36,244,1) 85%);
    border: 3px solid rgb(255, 238, 83) ;
    text-decoration: none;
}